{% include 'head' %}

<body>

    <!-- Header Section -->

    {% include 'HeaderTemplate' %}


    <h1 class="text-center ">Contact Us</h1>

    <!-- Contact Us form  -->
    <section>
        <div class="mx-auto w-75">
            <div class="p-3">
                {% entityform name:"contactUs Form" %}
                {% entityform name:"cr5aa_contactus" %}
                      {% entityview logical_name:"cr5aa_contactus", name:"ContactUs view" %} {% endentityview %}
            </div>
        </div>
    </section>
    <!-- Footer Section -->
    {% include 'FooterTemplate' %}
</body>